Aggregator behavior in case of unrecognized extension?

It doesn't seem like we specify this right now. Ideally we would want that the Aggregator can safely ignore an extension it doesn't support. (And require extensions to be designed accordingly.) Is there any reason to do something else?

We might eventually have a class of extensions that are "critical" in the sense that an aggregator that can't understand the extension should abort processing entirely. (motivating strawman example: maybe the extension details some extra privacy parameters/requirements, and the client would prefer that an honest aggregator give up rather than attempt to process a report if it does not implement those parameters/requirements)

If so, we might take a page from X.509 (e.g. TLS certificates): extensions could have a "critical bit". If an aggregator ever sees an extension it does not understand with the "critical bit" set, it must abort. (It may ignore non-critical extensions it does not understand.) This is detailed in [RFC 5280 section 4.2](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2).

On the other hand, it's unclear that we need a mechanism like this currently, and it's simpler not to specify this behavior. Notably, TLS handshake messages have their own notion of extensions, and they do not include similar "criticality" information.

I think we should avoid "critical bit" semantics for as long as possible, given how this has played out in the web PKI. I'm in favor of adopting TLS-style semantics, which puts it on extensions to make sure they can be ignored safely.

Closed in favor #369, which states the problem more clearly. Plus, Tim nicely laid out the options there.